@{
  Layout = "_Layout";
}
<h1>Add New Machine</h1>
<hr/>

@model Factory.Models.Machine;
@using System;

<div class="container">
  @using (Html.BeginForm())
  {
    <h4>@Html.LabelFor(model => model.MachineName)</h4>
    @Html.TextBoxFor(model => model.MachineName)
    <br/>
    @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })
    <br />
    <input type="submit" value="Submit" class="btn btn-primary"/>
  }
</div>

<br/>
<div class="container">
  <h5>@Html.ActionLink("Back to Machines", "Index")</h5>
</div>