@{
  Layout = "_Layout";
}


@model Factory.Models.Engineer;

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)
    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")
    <input type="submit" value="save" />
  }

<div class="container">
  <h5>@Html.ActionLink("Back to Machines", "Index")</h5>
</div>