@{
  Layout = "_Layout";
}

@model Factory.Models.MachineEngineer;
@using Factory.Models;

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")
  <input type="submit" value="save" />
}

<div class="container">
  <h5>@Html.ActionLink("Back to enginners", "Index")</h5>
</div>