@{
  Layout = "_Layout";
}

<h1>Factory</h1>
<hr/>
<div class="container">
  <h4>@Html.ActionLink("View Engineers", "Index", "Engineers")</h4>
  <h4>@Html.ActionLink("View Machines", "Index", "Machines")</h4>
</div>