@{
  Layout = "_Layout";
}

<h1>Welcome to C&C Music Factory</h1>
<h3>c'mon lets sweat</h3>
<hr/>

@using Factory.Models;



<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added yet!</p>
} 
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@machine.MachineName</li>
  }
</ul>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been hired yet!</p>
} 
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@engineer.Name</li>
  }
</ul>

<div class="container">
  <h4>@Html.ActionLink("View/edit All Engineers", "Index", "Engineers")</h4>
  <h4>@Html.ActionLink("View/edit All Machines", "Index", "Machines")</h4>
</div>